@charset "UTF-8";
/*
 *
 * Custom styles for Idealist
 *
*/
/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
    ## Galleries    
# Media Queries
--------------------------------------------------------------*/
@keyframes animateBorder {
  to {
    outline-color: #C0C0C0; } }
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #000000;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both; }

p {
  margin-bottom: 1.5em; }

dfn,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code,
kbd,
tt,
var {
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #000000;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 14px; }

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark,
ins {
  background: #F4F4F4;
  text-decoration: none; }

big {
  font-size: 125%; }

.copyright,
.copyright a,
.credits {
  color: #808080;
  font-size: 11px;
  margin: 5px;
  text-align: center; }

.identity {
  margin: 0;
  padding: 0;
  width: auto auto; }

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #000000;
  font-weight: 300;
  letter-spacing: .1rem; }

#page {
  position: relative;
  word-wrap: break-word; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px;
  letter-spacing: 0.15em; }

h6 {
  font-size: 12px; }

p {
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 14px; }

strong {
  font-weight: 400; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  background: #FFFFFF; }

blockquote:before,
blockquote:after {
  content: ""; }

blockquote {
  quotes: "" ""; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

q {
  quotes: "“" "”" "‘" "’"; }

ul,
ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  max-width: 100%; }

img.custom-logo {
  height: 50px;
  width: auto; }

figure {
  margin: 1em 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  padding: 10px; }

article,
.panel {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  background-color: #FFFFFF;
  margin: 15px;
  padding: 20px; }

.btn {
  border: 2px solid #000000;
  padding: 0; }

.nav-search {
  border: 0;
  color: #000000;
  margin-top: -20px;
  padding-right: 10px; }

.nav-search:hover {
  background-color: #FFFFFF; }

.fa-search {
  color: #000000;
  font-size: 1.2em;
  padding: 0;
  vertical-align: middle; }

.fa-search:hover {
  background-color: #FFFFFF;
  color: #808080; }

.fa-times {
  color: #808080;
  font-size: 20px; }

.close-button {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 11px;
  top: 2px;
  height: 100%;
  width: 50px; }

.close-icon:before {
  background-color: white;
  font-family: 'FontAwesome';
  color: black;
  position: relative;
  content: "\f00d"; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #FFFFFF;
  border: 1px solid #C0C0C0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: #C0C0C0; }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #A9A9A9; }

select {
  border: 1px solid #C0C0C0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  color: #000000;
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  padding: 3px;
  width: 100%; }

textarea#comment {
  height: 200px;
  word-wrap: break-word; }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #373737; }

label {
  font-weight: 300;
  margin-bottom: 0; }

form label {
  display: block; }

input[type="submit"],
button[type="submit"] {
  background: #FFFFFF;
  color: #000000;
  font-size: 14px;
  height: 50px;
  width: 100%; }

input[type="submit"]:hover,
button[type="submit"]:hover {
  border-color: #A9A9A9; }

.form-submit,
.send-button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
  height: 50px;
  margin: 1em auto;
  width: 100%; }

#full-search {
  display: none;
  height: 70px;
  left: 0;
  position: absolute;
  top: -15px;
  width: 100%;
  z-index: 9999; }

#full-search input[type="text"] {
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  color: #000000;
  display: inline-block;
  font-size: 20px;
  height: 80px;
  outline: solid 1px #C0C0C0;
  padding: 0 10px;
  width: 100%; }

.comment-form-author {
  margin-top: .1em; }

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
  border-radius: 10px;
  border-width: 1px; }

button.btn.btn-default.nav-search {
  background-color: white;
  border-width: 0; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.primary-navigation {
  padding-top: 10px;
  background-color: white; }

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin: 30px 0; }

.navbar-header {
  height: 50px; }

.navbar-header > a.navbar-brand > img {
  display: inline; }

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #FFFFFF; }

.navbar-nav a,
.navbar-default .navbar-nav > li > a {
  color: #000000;
  font-family: Roboto, sans-serif;
  text-transform: uppercase; }

.navbar-nav a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #FFFFFF;
  color: #808080; }

.navbar-nav > li > a:active {
  color: #808080; }

.current-menu-item > a {
  color: #000000; }

.site-title {
  font-size: 36px; }

p.site-description {
  display: none;
  font-size: 12px;
  margin: auto 0;
  padding: 1px; }

.navbar-brand {
  font-size: 2em;
  left: 0;
  margin: auto 10%;
  position: absolute;
  text-align: center;
  top: 0;
  width: 80%; }

a.navbar-brand {
  padding: 0; }

.navbar-toggle.collapsed .icon-bar {
  background-color: #808080; }

.navbar-toggle {
  margin-left: 10px; }

span.icon-bar {
  background-color: #D3D3D3; }

.navbar .dropdown-menu {
  border: 0; }

.dropdown-menu > li > a {
  color: #000000;
  font-weight: 300; }

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #FFFFFF;
  color: #808080; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

footer {
  background-color: #FFFFFF; }

.footer-nav {
  padding-left: 0; }

footer .navbar {
  margin: 0; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #373737;
  font-family: Roboto, sans-serif;
  text-decoration: none; }

a:focus {
  outline: 0; }

a:hover {
  text-decoration: underline; }

a:active {
  color: #373737;
  text-decoration: none; }

.entry-content a {
  text-decoration: underline; }

footer li.active a {
  color: #FFFFFF; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.screen-reader-text:focus {
  background-color: #F4F4F4;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
  clip: auto !important;
  color: #708090;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; }

#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.side-by-side {
  display: flex;
  align-items: center;
  justify-content: center; }

.flexbox-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center; }

#primary {
  margin-bottom: 30px;
  margin-top: 30px; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  background: #FFFFFF;
  margin: 0 0 30px;
  padding: 20px;
  position: relative;
  word-wrap: break-word; }

.widget select {
  max-width: 100%; }

.widget-title {
  font-size: 36px;
  margin: 0;
  padding-bottom: 40px; }

.widget-area a {
  font-size: 14px; }

aside ul {
  margin-left: 0;
  padding-left: 0; }

aside .widget_nav_menu ul {
  margin-left: 10px; }

aside li {
  list-style: none; }

.recentcomments {
  font-size: 14px;
  padding-bottom: 10px; }

.widget_recent_entries li {
  padding-bottom: 10px; }

#secondary > .widget_search {
  border: 0;
  padding: 0; }

.search-form .search-submit {
  bottom: 0;
  padding: 0.4em .8em;
  position: absolute;
  right: 0;
  width: 50px; }

.page-content .search-form .search-submit {
  bottom: 40px;
  padding: 0.4em .8em;
  position: absolute;
  right: 20px;
  width: 50px; }

.search-form .search-submit .icon {
  height: 24px;
  top: -2px;
  width: 16px; }

input.search-field {
  font-size: 22px;
  height: 50px;
  padding-left: 20px; }

button.search-submit {
  background-color: transparent;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0; }

svg.icon.icon-twitter,
.icon-twitter {
  color: #D3D3D3;
  fill: #D3D3D3;
  height: 1.5em;
  width: 1.5em; }

a.social-icon {
  color: #D3D3D3; }

.social_menu_class {
  display: flex;
  justify-content: center; }

#menu-social {
  margin: 0;
  padding: 0; }

.textwidget {
  font-size: 14px;
  word-wrap: break-word; }

#secondary section.widget_media_image {
  text-align: center; }

.text-image-widget {
  text-align: center;
  margin-bottom: 40px; }

.pagination-wrapper {
  display: flex;
  justify-content: space-around; }

.page-numbers {
  background-color: white;
  border: 1px solid #373737;
  padding: 14px; }

a.page-numbers {
  text-decoration: none; }

.page-numbers:hover,
.page-numbers.current {
  background-color: black;
  color: white;
  transition: color 0.5s ease 0s; }

.page-numbers.dots {
  background-color: transparent;
  border: 0; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry {
  margin: 0 0 30px; }

.entry-title {
  margin: 0; }

.post {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #D3D3D3;
  border-style: solid;
  border-width: 1px;
  background: #FFFFFF;
  padding: 20px;
  position: relative; }

.post header {
  display: flex;
  flex-direction: column; }

.post-title {
  margin-right: 50px; }

.post header,
.post .post-body,
.post .post-excerpt {
  padding: 20px;
  padding-bottom: 40px; }

.entry-title a {
  font-size: 36px;
  margin: 0; }

.post-image {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 50px 20px; }

.post-body {
  margin-bottom: 1em; }

.post-details {
  font-size: .8em;
  width: 90%; }

.post-details i.fa:first-child {
  padding: 0; }

.sticky {
  display: block; }

.sticky p {
  font-size: 14px; }

.sticky:before {
  color: #373737;
  content: "\f02e";
  font-family: FontAwesome;
  font-size: 200%;
  line-height: 1;
  position: absolute;
  right: 100px;
  top: -5px; }

.page-title,
.story-title {
  margin: 0;
  margin-bottom: .8em;
  text-align: center; }

.page-title {
  margin: 30px auto; }

.subtitle {
  font-size: 1.3em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

#content p {
  line-height: 1.8em;
  word-wrap: break-word; }

.page-content,
.entry-content,
.entry-summary {
  margin: 20px 0; }

.entry-content {
  padding: 20px; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

p.not-found {
  font-size: 1.5em;
  text-align: center; }

blockquote {
  quotes: "“" "”"; }

blockquote p {
  display: inline; }

blockquote:before {
  color: #C0C0C0;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote:after {
  color: #C0C0C0;
  content: close-quote;
  font-size: 5em;
  line-height: .8em;
  margin-left: 0.25em;
  vertical-align: -0.4em; }

header.entry-header {
  padding: 20px; }

.format-aside .post-details,
.format-aside .post-footer,
.format-aside .post-comments-badge,
.format-image .post-details,
.format-image .post-footer,
.format-image .post-comments-badge,
.format-link .post-details,
.format-link .post-footer,
.format-link .post-comments-badge,
.format-quote .post-details,
.format-quote .post-footer,
.format-quote .post-comments-badge,
.format-status .post-details,
.format-status .post-footer,
.format-status .post-comments-badge {
  display: none; }

.format-aside header,
.format-aside p,
.format-image header,
.format-image p,
.format-link header,
.format-link p,
.format-quote header,
.format-quote p,
.format-status header,
.format-status p {
  margin: 0;
  padding: 0; }

.format-aside {
  margin-left: 100px; }

.format-image img {
  width: 100%; }

.format-link p {
  text-decoration: underline; }

.format-quote {
  quotes: "“" "”" "‘" "’"; }

.format-quote p {
  font-size: 26px;
  margin-top: 30px; }

.format-quote p:before {
  color: #C0C0C0;
  content: open-quote;
  font-family: dash-icons;
  font-size: 150px;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote:before,
blockquote:after {
  font-family: dash-icons; }

.format-quote p:after {
  color: #C0C0C0;
  content: no-close-quote;
  font-size: 150px;
  line-height: .8em;
  margin-left: 0.25em;
  vertical-align: -0.4em; }

.post-footer {
  padding: 40px 20px; }

.entry-content .more-link:before {
  content: "";
  display: block; }

#content a.more-link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #373737;
  color: #373737;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.5s ease 0s; }

#content a.more-link:hover {
  color: #FF0000; }

.custom-more {
  align-items: center;
  display: flex;
  justify-content: center; }

.archive-header {
  align-items: center;
  display: flex;
  flex-direction: column; }

.archive-description p {
  font-size: 24px;
  text-align: center; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

.comment-body {
  margin-right: 0; }

#comments .comment-meta {
  font-size: 16px;
  margin: 10px; }

#comments time {
  font-size: 12px; }

.post-comments-badge {
  background: #FFFFFF;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border: 1px solid #373737;
  display: table;
  height: 50px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 30px;
  width: 50px; }

.post-comments-badge a {
  color: #373737;
  display: table-cell;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle; }

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4px; }

.post-comments-badge:hover {
  border-color: #C0C0C0;
  text-decoration: none; }

.post-comments-badge a:hover {
  text-decoration: none; }

.children {
  list-style: none; }

#comments ol {
  list-style: none;
  margin-left: 40px;
  padding: 0; }

.comment-list ol {
  list-style: none; }

a.comment-edit-link {
  font-size: .8em; }

/*
.badge.social {
    background: $silver;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    color: $white;
    font-size: 24px;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;
    text-align: center;
    width: 40px;
}

.comments ol li {
    margin: .5em 0;
    padding: .6em 1.2em;
}

.comments-title {
    padding-top: 50px;
}

#comments .comments-wrap {
    padding: 1em;
    padding-bottom: 3em;
}

.leave-comment {
    @include x-border-radius(10px);
    @include x-story-border-details();
    margin: 1.2em auto;
    max-width: 600px;
    padding: .8em 2em;
}

.comment {
    width: 100%;
    word-wrap: break-word;
}

#comments footer {
    background: none;
    color: inherit;
}

#comments footer a {
    color: inherit;
}
*/
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none; }

.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

embed,
iframe,
object {
  max-width: 100%; }

.main-image {
  margin: 0 auto; }

img.post {
  width: 100%; }

section.feature-image {
  margin-bottom: 20px; }

.round {
  border-radius: 100px; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  border: 1px solid #A9A9A9;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  width: 75%; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 575px) {
  .entry-title a {
    font-size: 30px; }

  .page-numbers {
    padding: 7px; } }
@media screen and (min-width: 576px) and (max-width: 767px) {
  .entry-title a {
    font-size: 32px; } }
@media screen and (min-width: 768px) {
  .entry-title a {
    font-size: 34px; }

  .navbar > .container-fluid .navbar-brand {
    margin: auto 10%; } }
@media screen and (min-width: 992px) {
  p.site-description {
    display: inline; } }
@media screen and (max-width: 1200px) {
  .navbar-header {
    float: none; }

  .navbar-right {
    float: right; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .nav-search {
    margin-top: -18px; }

  .navbar-nav .open .dropdown-menu {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none;
    margin-top: 0;
    position: static;
    width: auto; }

  .format-aside {
    margin-left: 50px; }

  .wp-caption .wp-caption-text {
    border: 0;
    margin: 20px auto;
    padding: 0;
    text-align: left;
    width: 100%; } }
@media print {
  body {
    background: white;
    color: #000000;
    margin: 0; }

  #header,
  #content {
    display: block; }

  #comments,
  #sidebar,
  #footer,
  .nav-links {
    display: none; } }
