/*
 *
 * Custom styles for Idealist
 *
*/
/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
# Media Queries
--------------------------------------------------------------*/


$black: #000;
$light-gray: #ccc;
$medium-gray: #bbb;
$dark-gray: #aaa;
$white: #fff;
$red: #f00;
$link: #000;
$hover: $dark-gray;
$font-stack: Roboto, sans-serif;
$main-copy-color: $black;

@mixin x-align-items($position) {
    -webkit-align-items: $position;
    align-items: $position;
    -webkit-box-align: $position;
    -moz-box-align: $position;
    -ms-box-align: $position; 
    -ms-flex-align: $position;
}

@mixin x-border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin x-box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin x-display-center() {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin x-display-flex() {
    display: -webkit-flex;
    display: -ms-flexbox;     
    display: flex;
}

@mixin x-story-border-details() {
    border-color: $light-gray;
    border-style: solid;        
    border-width: 1px;
}

@mixin x-user-select($type) {
    -webkit-user-select: $type;
    -moz-user-select: $type;    
    -ms-user-select: $type;
     user-select: $type;
}


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

p.credits,
p.copyright a,
.copyright {
    color: $dark-gray;
    font-size: 11px;
    margin: 20px;
    text-align: center;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/

html {
    @include x-box-sizing();
    font-family: $font-stack;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    @include x-box-sizing();
}

body {
    color: $black;
    font-weight: 300;
    letter-spacing: .1rem;
}

p {
    color: $black;
    font-family: $font-stack;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-stack;
    font-weight: 300;        
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
    letter-spacing: 0.15em;
}

h6 {
    font-size: .8em;
}

p {
    font-size: 1.4em;  
}

strong {
    font-weight: 400;
}

.story-title,
.page-title {
    margin-bottom: .8em;
    text-align: center;
}

.post-body {
    margin-bottom: 1em;
}

.subtitle {
    font-size: 1.3em; 
}

a:link,
a:visited {
    color: $link;
}

a:hover {
    color: $hover;
    text-decoration: none;
}

#content p {
    line-height: 1.8em;
}

.badge.social {
    background: #ccc;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    height: 40px;
    line-height: 42px;
    margin: 0 5px 20px 0;
    padding: 0;    
    text-align: center;
    width: 40px;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.gplus:hover {
    background: #db4b39;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

figure {
    margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

article,
.panel {
    @include x-border-radius(10px);
    @include x-story-border-details();
    background-color: $white;
    margin: 20px auto;
    padding: .5em 2em;
}

.btn {
    border: 2px solid $black;
    padding: 0;
}

.fa-search {
    color: $medium-gray;
    font-size: 1em;
    padding: 0;
    vertical-align: middle;
}

.fa-search:hover {
    color: $dark-gray;
}

/*
.fa-twitter:before {
    color: $white;    
}

.fa-twitter {
    color: $white;
    font-size: 2em;
    padding: 15px;
    vertical-align: middle;
}
*/

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

select {
    border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

textarea {
    width: 100%;
}

/* search entry field in header - future */
/*
.form-control {  
    background: $black;
    font-size: 1.8em;
    left: 0;    
    line-height: 1.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
*/

label {
    font-weight: 300;
    margin-top: 10px;
}

form label {
    display: block; // contact form labels full-width of panel    
}

input[type="text"],
input[type="email"],
input[type="texturl"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
    @include x-story-border-details();
    @include x-border-radius(10px);
    font-family: $font-stack;
    font-size: 1.8em;
    width: 100%;
}

textarea {
    @include x-story-border-details();
    @include x-border-radius(10px);
    font-size: 1.8em;
    line-height: 1.8;
    width: 100%;
}

textarea#comment {
    height: 200px;
}

input[type="submit"],
button[type="submit"] {
    background: $white; 
    color: $light-gray;
    font-size: 18px;
    height: 50px;
    width: 100%;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    color: black;
}

.form-submit,
.send-button {
    /* @include x-story-border-details(); */
    @include x-border-radius(10px);
    @include x-display-center();
    background: $white;    
    height: 50px;
    margin: 1em auto;    
    width: 100%;
}

.comment-form-author {
    margin-top: .1em;
}

input[type="button" i], 
input[type="submit" i], 
input[type="reset" i], 
input[type="file" i]::-webkit-file-upload-button, 
button {
    border-radius: 10px;
    border-width: 1px;
}


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

a {
    font-family: $font-stack;
}

.navbar {
    @include x-border-radius(0);
    margin-bottom: 30px;
    margin-top: 30px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: $white;    
}

.navbar-nav a,
.navbar-default .navbar-nav>li>a {
    color: $light-gray;
    font-family: $font-stack;
    text-transform: uppercase;
}

.navbar-nav a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: white;
    color: $dark-gray;
}

.navbar-nav>li>a:active {
    color: $dark-gray;
}

.current-menu-item>a {
    color: $black;
}

.site-title {
    font-size: 1.5em;
    margin: auto 10px;
    padding-left: 5px;
}

p.site-description {
    color: $light-gray;
    font-size: .6em;
    padding: 1px;
    margin-top: 20px;
}

.navbar-brand {
    font-size: 2em;
    left: 0;
    margin: auto 10%;
    position: absolute;    
    top: 0;
    text-align: center;
    width: 80%;
}

a.navbar-brand {
    padding: 10px;
}

.navbar-toggle.collapsed .icon-bar {
  background-color: $dark-gray !important;
}

.navbar-toggle {
    margin-left: 10px;
}

span.icon-bar {
    background-color: $light-gray;
}

footer {
    background-color: white;
}

.footer-nav {
    padding-left: 0;
}

footer .navbar {
    margin: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:hover,
a:focus,
a:active {
    color: midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover,
a:active {
    outline: 0;
}

a {
    color: $black;
}

footer li.active a {
    color: $white;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul ul li {
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
}

.navbar-header>a.navbar-brand>img {
    display: inline;
}

img.custom-logo {
    height: 50px;
    width: 50px;
}

.side-by-side {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    height: 30px;
    margin: 20px;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header#masthead.site-header {
    background-color: white;
}

header#masthead {
    background-color: white;    
}

.flexbox-container {
    @include x-display-flex();
    @include x-align-items(center);
}

.page-main-image {
    margin: auto auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.center {
    @include x-display-center();
}

.vcenter p {
    margin: 0;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
    margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

.widget-title {
    color: $black;
    font-size: 1.1em;
}

/* Recent Posts */
ul, ol {
    margin: 0 0 1.5em 0;
}

ul {
    padding-left: 2em;
}

/* Search */

#secondary>.widget_search {
    border: 0;
    margin-bottom: 15px;
    padding: 0;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0;
    position: relative;
}

.search-form .search-submit {
    bottom: 3px; 
    padding: 0.4em .8em;
    position: absolute; /* for Firefox */
    right: 0;
    top: 0;  
    width: 50px;
}

.search-form .search-submit .icon {
    height: 24px;
    top: -2px;
    width: 16px;
}

input.search-field {
    font-size: 1.4em;
    height: 50px;
    padding-left: 10px;
}

button.search-submit {
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;  
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;  
}

svg.icon.icon-twitter,
.icon-twitter {
    color: $light-gray;
    fill: $light-gray;
    height: 1.5em;
    width: 1.5em;
}

ul {
  list-style-type: none;
}

a.social-icon {
    color: $light-gray;
}

.social_menu_class {
    display: flex;
    justify-content: center;
}

#menu-social {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
    display: block;
}

.hentry {
    margin: 0 0 30px;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.post,
.widget,
.comments {
    @include x-border-radius(10px);
    @include x-story-border-details();
    background: $white;
    padding: 10px;
    position: relative;
}

h3#reply-title.comment-reply-title {
    padding-top: 50px;
}

h3.comments-title {
    padding-top: 50px;    
}

.comments .comments-wrap,
.post header,
.post .post-body,
.post .post-excerpt {
    padding: 1em;
    padding-bottom: 3em;
}

// avoid collision with badge
.post header {
    margin-right: 50px;   
}


.post header {
    display: flex;
    flex-direction: column; 
    padding-bottom: 2em; 
}

.post-image {
    @include x-display-center();
    flex-direction: row;
    margin-bottom: 2em;
}

img.img-responsive {
    margin: auto;
    margin-bottom: 30px;
}

.post-details {
    font-size: .8em;
    width: 90%;
}

.post-details i.fa:first-child {
    padding: 0;
}

p.not-found {
    font-size: 1.5em;
    text-align: center;
}


/* Post Formats */

.format-quote,
blockquote {
    quotes: "\201C""\201D""\2018""\2019";
}

.format-quote p:before,
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 5em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

/*
.format-quote p:after,
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 5em;
    line-height: .8em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}
*/

.format-quote p,
blockquote p {
    display: inline;
}

.sticky p { 
    font-size: 3em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments {
    @include x-border-radius(10px);
    margin: auto auto;
    max-width: 600px;
    padding: 1em 1.4em;
}

.comments ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments ol li {
    margin: .5em 0;
    padding: .6em 1.2em;
}

.children {
    list-style: none;
    padding: 0;
}

.leave-comment {
    @include x-border-radius(10px);
    @include x-story-border-details();
    margin: 1.2em auto;
    max-width: 600px;
    padding: .8em 2em;
}

.comment {
    width: 100%;
}

.post-comments-badge {
    background: $white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid $light-gray;
    // bottom: 20px;
    display: table;    
    height: 50px;
    position: absolute;
    right: 20px;    
    text-align: center;
    top: 30px;
    width: 50px;
}

.post-comments-badge a {
    display: table-cell;
    font-size: 20px;
    line-height: 20px;        
    vertical-align: middle;
}

.post-comments-badge i.fa {
    display: block;
    font-size: 15px;
    padding: 0;
    margin-bottom: 4px;
}

.post-comments-badge:hover {
    background-color: $light-gray;
}

#comments footer {
    background: none;
    color: inherit;
}

#comments footer a {
    color: inherit;
}

#comments .comment-meta {
    margin: 10px;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

section.feature-image {
    margin-bottom: 20px;
}

/* contact form */
section.main-content {
    display: flex;
    justify-content: center;
    padding: 10px;
}

img.post {
  width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media screen and (max-width: 991px) {
    .container {
        padding: 1.2em;
    }
}    

@media screen and (max-width: 768px) {
    .search-form {
        display: initial;
    }

    .search-form .search-submit {
        top: -20px;
    }
 
    p.site-description {
        display: none;
    }

}

@media screen and (max-width: 568px) {
    .sticky p {
        font-size: 1.2em;
    } 

    div#d3chart>iframe {
        height: 380px;
    }   
}

@media (min-width: 768px) {
    .navbar-nav>li>a {
    }

    .navbar .navbar-nav {
    }

    .navbar .navbar-collapse {
    }

    .navbar>.container-fluid .navbar-brand {
        left: 0;
        margin: auto 10%;
        position: absolute;  
        text-align: center;          
        top: 0;
        width: 80%;
    }
}   







