@charset "UTF-8";
/*
 *
 * Custom styles for Idealist
 *
*/
/*--------------------------------------------------------------
 TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
# Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Global
--------------------------------------------------------------*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #000;
  font-weight: 300;
  letter-spacing: .1rem; }

p {
  color: #000;
  font-family: Roboto, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h5 {
  font-size: 1em;
  letter-spacing: 0.15em; }

h6 {
  font-size: .8em; }

strong {
  font-weight: 400; }

.story-title,
.page-title {
  margin-bottom: .8em;
  text-align: center; }

.post-body {
  margin-bottom: 1em; }

p.site-description {
  font-size: 1em;
  text-align: center; }

.subtitle {
  font-size: 1.3em; }

a:link,
a:visited {
  color: #000; }

a:hover {
  color: #aaa;
  text-decoration: none; }

.copyright {
  color: #ccc;
  line-height: 3.5;
  text-align: center;
  vertical-align: middle; }

.badge.social {
  background: #ccc;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  color: white;
  font-size: 24px;
  height: 40px;
  line-height: 42px;
  margin: 0 5px 20px 0;
  padding: 0;
  text-align: center;
  width: 40px; }

.badge.social.twitter:hover {
  background: #55acee; }

.badge.social.facebook:hover {
  background: #3b5998; }

.badge.social.gplus:hover {
  background: #db4b39; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
article,
.panel {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 20px auto;
  padding: .5em 2em; }

.btn {
  border: 2px solid #000;
  padding: 0; }

.fa-search {
  color: #bbb;
  font-size: 1em;
  padding: 0;
  vertical-align: middle; }

.fa-search:hover {
  color: #aaa; }

/*
.fa-twitter:before {
    color: $white;    
}

.fa-twitter {
    color: $white;
    font-size: 2em;
    padding: 15px;
    vertical-align: middle;
}
*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* search entry field in header - future */
/*
.form-control {  
    background: $black;
    font-size: 1.8em;
    left: 0;    
    line-height: 1.8;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
}
*/
label {
  font-weight: 300;
  padding-bottom: 20px; }

input[type="text"],
input[type="email"],
input[type="texturl"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  width: 100%; }

textarea {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.8em;
  line-height: 1.8;
  width: 100%; }

textarea#comment {
  height: 200px; }

input[type="submit"],
button[type="submit"] {
  background: #fff;
  color: #ccc;
  font-size: 18px;
  height: 50px;
  width: 100%; }

input[type="submit"]:hover,
button[type="submit"]:hover {
  color: #aaa;
  padding: 5px 10px; }

.form-submit,
.send-button {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  background: #fff;
  height: 50px;
  margin: 1em auto;
  width: 100%; }

.comment-form-author {
  margin-top: 2em; }

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
  border-radius: 10px;
  border-width: 1px; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
a {
  font-family: Roboto, sans-serif; }

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  margin-bottom: 20px;
  margin-top: 20px; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #fff; }

.navbar-nav a,
.navbar-default .navbar-nav > li > a {
  color: #ccc;
  font-family: Roboto, sans-serif;
  text-transform: uppercase; }

.navbar-nav a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background-color: white;
  color: #aaa; }

.navbar-nav > li > a:active {
  color: #aaa; }

.current-menu-item > a {
  color: #000; }

h1.logo {
  font-size: 1em;
  margin: auto auto; }

.navbar-brand {
  font-size: 2em;
  left: 0;
  margin: auto 10%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 80%; }

a.navbar-brand {
  padding: 10px; }

.navbar-toggle.collapsed .icon-bar {
  background-color: #aaa !important; }

.navbar-toggle {
  margin-left: 10px; }

span.icon-bar {
  background-color: #ccc;
  color: red; }

.footer-nav {
  padding-left: 0; }

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: #000; }

footer li.active a {
  color: #fff; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
header#masthead.site-header {
  height: 100%; }

.flexbox-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -ms-flex-align: center; }

.page-main-image {
  margin: auto auto; }

.col-centered {
  float: none;
  margin: 0 auto; }

.center {
  align-items: center;
  display: flex;
  justify-content: center; }

.vcenter p {
  margin: 0;
  vertical-align: middle; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget-title {
  color: #000;
  font-size: 1.1em; }

/* Recent Posts */
ul, ol {
  margin: 0 0 1.5em 0; }

ul {
  padding-left: 2em; }

/* Search */
.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  position: relative; }

.search-form .search-submit {
  bottom: 3px;
  padding: 0.6em .8em;
  position: absolute;
  right: 3px;
  top: 5px;
  width: 50px; }

.search-form .search-submit .icon {
  height: 24px;
  top: -2px;
  width: 16px; }

input.search-field {
  font-size: 1.4em;
  height: 50px;
  padding-left: 10px; }

button.search-submit {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

svg.icon.icon-twitter,
.icon-twitter {
  color: #ccc;
  fill: #ccc;
  height: 1.5em;
  width: 1.5em; }

ul {
  list-style-type: none; }

a.social-icon {
  color: #ccc; }

.social_menu_class {
  display: flex;
  justify-content: center; }

#menu-social {
  margin: 0;
  padding: 0; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.post,
.widget,
.comments {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  background: #fff;
  padding: 10px;
  position: relative; }

h3#reply-title.comment-reply-title {
  padding-top: 50px; }

h3.comments-title {
  padding-top: 50px; }

.comments .comments-wrap,
.post header,
.post .post-body,
.post .post-excerpt {
  padding: 1em; }

.post header {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em; }

.post-image {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em; }

img.img-responsive {
  margin: auto;
  margin-bottom: 30px; }

.post-details {
  font-size: .8em;
  width: 90%; }

.post-details i.fa:first-child {
  padding: 0; }

p.not-found {
  font-size: 1.5em;
  text-align: center; }

/* Post Formats */
.format-quote,
blockquote {
  quotes: "“" "”" "‘" "’"; }

.format-quote p:before,
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 5em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

/*
.format-quote p:after,
blockquote:after {
    color: #ccc;
    content: close-quote;
    font-size: 5em;
    line-height: .8em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}
*/
.format-quote p,
blockquote p {
  display: inline; }

.sticky p {
  font-size: 3em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  margin: auto auto;
  max-width: 600px;
  padding: 1em 1.4em; }

.comments ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.comments ol li {
  margin: .5em 0;
  padding: .6em 1.2em; }

.children {
  list-style: none;
  padding: 0; }

.leave-comment {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  margin: 1.2em auto;
  max-width: 600px;
  padding: .8em 2em; }

.comment {
  width: 100%; }

.post-comments-badge {
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
  display: table;
  height: 50px;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 30px;
  width: 50px; }

.post-comments-badge a {
  color: #000;
  display: table-cell;
  font-size: 20px;
  line-height: 20px;
  vertical-align: middle; }

.post-comments-badge i.fa {
  display: block;
  font-size: 15px;
  padding: 0;
  margin-bottom: 4px; }

.post-comments-badge:hover {
  background-color: #ccc; }

#comments footer {
  background: none;
  color: inherit; }

#comments footer a {
  color: inherit; }

#comments .comment-meta {
  margin: 10px; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
section.feature-image {
  margin-bottom: 20px; }

/* contact form */
section.main-content {
  display: flex;
  justify-content: center;
  padding: 10px; }

img.post {
  width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .container {
    background: rgba(255, 255, 255, 0.8);
    padding: 1.2em; } }
@media screen and (max-width: 568px) {
  /* iPhone 5 portrait */ }
@media (min-width: 768px) {
  .navbar > .container-fluid .navbar-brand {
    left: 0;
    margin: auto 10%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 80%; } }
