/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ## Posts and pages
    ## Comments
# Infinite scroll
# Media
    ## Captions
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: .1em;
}

h2.entry-title {
    font-weight: 300;
    text-align: center;
}

p {
    color: black;
    font-family: 'Roboto', sans-serif;
}

strong {
    font-weight: 400;
}


/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

article {
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    margin: 100px auto;
    padding: 10px 30px;
    max-width: 600px;
}

.panel {
    border: 1px solid black;
}


/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

a {
    color: black;
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.navbar-toggle {
    background-color: gray;
}

a.navbar-brand {
    font-size: 26px;
}

footer.entry-footer,
span.cat-links {
    display: none;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

h2.widget-title {
    color: black;
    font-size: 16px;
    font-weight: 300;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.hentry {
    margin: 100px auto;
}

span.posted-on {
    display: none;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
